<% include header %>
<header>
    <h1>Ntalk</h1>
    <h4>Aconteceu algo terrivel! :(</h4>
</header>
<p>
    Veja os detalhes do erro:
    <br>
    <%- err.message %>
</p>
<hr>
<p>Vamos voltar <a href="/contatos">home Page</a> ? </p>
<% include footer %>